body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding: 30px;
}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0 5px;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h1 {
  border-bottom: 1px solid #ddd;
  font-size: 2.5em;
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h2 {
  border-bottom: 1px solid #eee;
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

p, ul {
  margin: 15px 0;
}

ul {
  padding-left: 30px;
}

input[type="date"]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0;
}

.matrixBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.category.quadrantBox {
    width: 45%;
    padding-left: 2%;
    padding-right: 2%;
}

.category.quadrantBox:nth-of-type(1) {
    background-color: #EF4747;
}

.category.quadrantBox:nth-of-type(2) {
    background-color: #EF9347;
}

.category.quadrantBox:nth-of-type(3) {
    background-color: #2B8F8F;
}

.category.quadrantBox:nth-of-type(4) {
    background-color: #39BF39;
}

.category.last {
    width: 100%;
}
